<section class="section-about">
  <div class="linear-grandient-1"></div>
  <div class="container-about">
    <div class="container-text-about">
      <h2 class="title-about" id="sur-moi">Mon parcours</h2>
      <section>
  <p>
    Ancien infirmier, aujourd’hui en reconversion vers les métiers du développement, j’ai choisi de mettre mes compétences humaines et organisationnelles au service du numérique.
  </p>
  <p>
    Pendant plusieurs années, j’ai travaillé dans le secteur médical, d’abord comme infirmier, puis comme chef infirmier en psychiatrie. Ces expériences m’ont permis d’évoluer dans des environnements exigeants, où la rigueur, la réactivité et la collaboration sont essentielles. J’y ai développé des qualités solides qui trouvent aujourd’hui toute leur place dans ma nouvelle orientation professionnelle.
  </p>

  <h3>En tant qu’infirmier, j’ai appris à :</h3>
  <ul>
    <li>Écouter activement et analyser des situations complexes</li>
    <li>Gérer le stress et prendre des décisions rapidement</li>
    <li>Travailler en équipe avec empathie et efficacité</li>
  </ul>

  <h3>En tant que chef infirmier, j’ai :</h3>
  <ul>
    <li>Coordonné des équipes pluridisciplinaires</li>
    <li>Organisé des projets de soins et géré des plannings complexes</li>
    <li>Assuré une communication fluide entre les différents acteurs du système de santé</li>
  </ul>

  <h3>Compétences transférables vers le métier de développeur :</h3>
  <ul>
    <li>Gestion de projet et rigueur</li>
    <li>Résolution de problèmes complexes</li>
    <li>Travail collaboratif (équipes pluridisciplinaires / méthodes agiles)</li>
    <li>Sens du détail, de la logique et de la structure</li>
  </ul>

  <p>
    Aujourd’hui, je suis pleinement engagé dans ma reconversion et je recherche activement une alternance pour m’investir concrètement dans le secteur du développement et monter en compétences sur le terrain.
  </p>
</section>

    </div>
    <div class="container-svg-about">
      <div class="container-svg">
        <lottie-player
          src="https://assets8.lottiefiles.com/packages/lf20_sg18igu8.json"
          background="transparent"
          speed="1"
          style="width: 380px; height: 380px; position:relative;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
  </div>
</section>

<script
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
></script>

<style>
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(at left center, rgba(1, 190, 150 , 0.5), transparent , transparent); */
    background: linear-gradient(to top, #000, rgba(1, 190, 150, 0.5));
    background:;
    z-index: 0;
  }

  .section-about {
    position: relative;
    background-color: #111111;
  }
  .container-about {
    position: relative;
    width: 90%;
    display: flex;
    margin: 0 auto;
    max-width: 1355px;
  }

  .container-text-about {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-about {
    position: relative;
    display: block;
    font-size: 27px;
    padding: 10px 0;
    color: #f6f6f9;
    width: 100%;
    font-weight: 800;
    scroll-margin-top: 80px;
  }
  .container-text-about p {
    font-size: 17px;
    color: #f6f6f9;
    text-align: left;
    letter-spacing: 1px;
  }

  .container-svg-about {
    position: relative;
    width: 50%;
  }
  .container-svg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
  }
  .container-text-about h3,
.container-text-about ul,
.container-text-about ul li {
  color: #ffffff;
}


  /*  responsive  */

  @media (max-width: 900px) {
    /*Resposivo de la seccion sobre mi*/
    .container-about {
      flex-direction: column;
    }
    .container-svg-about {
      width: 100%;
    }
    .container-svg {
      justify-content: start;
      align-items: end;
      padding: 0;
    }
    .container-text-about {
      width: 100%;
      padding: 10px 0;
    }
  }
</style>
